</div>

<footer id="main-footer" class="p-3 mt-5 bg-dark text-muted fixed-bottom">
    <div class="row">
        <div class="col-md-6 mx-auto">
			Hanson Math Games   |  <span class="ml-auto" id="year"></span>
        </div>
    </div>
</footer>

</body>

<!-- jQuery CDN -->
<script
 	src="https://code.jquery.com/jquery-3.4.1.min.js"
 	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
 	crossorigin="anonymous">
</script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--if features aren't working such as fade (jquery) then don't use minified version, use full -->

<script>

	//Get current year for copyright. 
	$('#year').text(new Date().getFullYear()); 
	
</script>

</html>


