<!DOCTYPE html>
<html> <!--closed in footer-->
	<head>
		<!-- Make site responsive on mobile/tablet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Hanson Math Games</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<%- include("../partials/sharedstyles") %>
	</head>
	<body> <!--closed in footer-->
		
		<!--nav bar-->
		<%- include("../partials/navbaronly") %>
		
		<div class="container"> <!--container for page; closed in footer-->