<div>
	<% if(scores.length > 0) { %>
		<h3>High Score</h3>
		<% for(var i = scores.length; i > scores.length - 1; i--) { %>
			<h6><strong><%= scores[i - 1].author.username %>: </strong><%= scores[i - 1].score %></h6>
		<% } %>
	<% } %>
</div>