<div id="animatedSymbols">

	<svg viewBox="0 0 1500 450" x="0" y="0">
		
		<defs>
			<!--
			<filter id="shadow">
				<feDropShadow dx="2" dy="2" stdDeviation="2"/>
			</filter>
			-->
			<linearGradient id="inside" x1="0%" y1="0%" x2="100%" y2="0%">
				<stop offset="0%" style="stop-color:rgb(160,160,160);stop-opacity:1" />
				<stop offset="100%" style="stop-color:rgb(230,230,230);stop-opacity:1" />
			</linearGradient>

			<linearGradient id="outside" x1="0%" y1="0%" x2="100%" y2="0%">
				<stop offset="0%" style="stop-color:rgb(230,230,230);stop-opacity:1" />
				<stop offset="100%" style="stop-color:rgb(160,160,160);stop-opacity:1" />
			</linearGradient>	  

		</defs>

		<!--
		<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		-->
		
		<!--ADDITION SYMBOLS-->
		
		<g id="add">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="add2">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="add3">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="add4">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="add5">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="add6">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="add7">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="add8">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="add9">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="add10">
		
			<polygon points="2,20 20,20 20,2 40,2 40,20 58,20 58,40 40,40 40,58 20,58 20,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		
		
		
		
		
		
		
		<g id="sub">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>	
		
		<g id="sub2">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>
		
		<g id="sub3">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>
		
		<g id="sub4">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>
		
		<g id="sub5">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>
		
		<g id="sub6">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>
		
		<g id="sub7">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>
		
		<g id="sub8">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>
		
		<g id="sub9">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>
		
		<g id="sub10">
			<polygon points="2,20 58,20 58,40 2,40" fill="url(#inside)" stroke="url(#outside)" stroke-width="3"/>
		</g>
		
		
		
		
		<g id="mult">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="mult2">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="mult3">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="mult4">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="mult5">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="mult6">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="mult7">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="mult8">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="mult9">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		<g id="mult10">
		
			<polygon points="4.4,17.6 17.6,4.4 30.8,17.6, 44,4.4, 57.2,17.6, 44,30.8, 57.2,44, 44,57.2, 30.8,44, 17.6,57.2, 4.4,44, 17.6,30.8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />
		
		</g>
		
		
		
		
		
		
		<g id="divide">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
		<g id="divide2">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
		<g id="divide3">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
		<g id="divide4">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
		<g id="divide5">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
		<g id="divide6">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
		<g id="divide7">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
		<g id="divide8">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
		<g id="divide9">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
		<g id="divide10">
		
			<rect x="2" y="20" height="20" width="56" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" />

			<circle cx="30" cy="10" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>

			<circle cx="30" cy="50" r="8" fill="url(#inside)" stroke="url(#outside)" stroke-width="3" style="filter:url(#shadow);"/>
		
		</g>
		
	</svg>

</div>
	