<form class='form-signin' id='showPracticeProblems' action='/games/problems' method='POST'>
	<!--<input name="problemList" id="practiceProblemsInput">-->
	<button class="btn btn-lg btn-success btn-inline" type="submit">View Problems</button>
</form>