<div id="timerDiv">
	<svg height="60" width="60">
		<circle id="timerCircle" 
			r="20" 
			cx="30" 
			cy="30" 
			fill="transparent"
			stroke="rgba(90,100,220,1)"
			stroke-width="10"
			transform="rotate(-90 30 30)"
		/> 
	</svg>
</div>

