<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
	Instructions <i class="far fa-file-alt"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
    	<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Instructions</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					1) Press "Start" when you're ready. This will start the timer. 
				</p>
				<p>
					2) Rules for entering answers:
					<ul>
						<li>For fractions (including improper fractions), use a '/' to separate the numerator and denominator.</li>
						<ul>
							<h6>Examples:</h6>
							<li>4/5 = 4&frasl;5</li>
							<li>15/5 = 15&frasl;5</li>
						</ul>
						<li>Numbers greater than one can be entered as whole numbers, improper fractions, or mixed numbers.</li>
						<ul>
							<h6>Examples:</h6>
							<li>2</li>
							<li>17/3 = 17&frasl;3</li>
							<li>1 3/4 = 1 3&frasl;4 </li>
						</ul>
					</ul>
				</p>
				<p>
					3) Press the enter/return key to submit your answer. If your answer is correct, your score will increase. 
					If your answer is incorrect, your score will decrease and the correct answer will appear at the bottom of the page. 
					Finish as many problems as you can before timer ends!
				</p>
				<p>
					4) When the game is over, you will be asked to submit your score if your score is your highest score or a top score.
				</p>
				<p>
					5) Press "Reset" at the end of the game to play again! 
				</p>
			</div>
		    <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
    	</div>
	</div>
</div>