<%- include("./partials/header") %>

<div class="container">
	<div class="row">
		<div class="credentialsform col-xsm-4">
			<form class="form-signin" action="/login" method="POST">
				<h1 class="h3 credentialsheading mb-3 font-weight-normal">Login</h1>
				<div class="form-group">
					<label for="inputUsername" class="sr-only">Username</label>
					<input type="text" id="inputUsername" class="form-control" name="username" placeholder="username" required autofocus>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="inputPassword" class="form-control" name="password" placeholder="password" required>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
				</div>
			</form>
			<a href="/games">Go Back</a>
		</div>
	</div>
</div>


<%- include("./partials/footer") %>