body {
	font-family: 'Varela Round', sans-serif;  
	text-align: center; 
	background-color: rgba(230,230,255,0.15); 
	font-size: 1.25em; 
}

nav {
	font-size: 0.75em; 
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 18px rgba(0,0,0,0.1);
}

p, h2, h3 {
	
	text-shadow: 0px 2px 1px rgba(0,0,0,0.1),
				 0px 5px 10px rgba(0,0,0,0.1),
				 0px 12px 12px rgba(0,0,0,0.1);
	
}

h6 {
	
	text-shadow: 0px 0px 0px rgba(50,50,50,0.1),
				 0px 1px 1px rgba(0,0,0,0.1),
				 0px 6px 6px rgba(0,0,0,0.1);
	
}

button, input {
	
	text-shadow: 0px 0px 0px rgba(50,50,50,0.1),
				 0px 1px 1px rgba(0,0,0,0.1),
				 0px 6px 6px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 1px rgba(0,0,0,0.1),
				 0px 5px 10px rgba(0,0,0,0.1),
				 0px 12px 12px rgba(0,0,0,0.1);
	
}

ul {
	list-style-type: none;
	padding: 0px; 
	text-shadow: 0px 0px 0px rgba(50,50,50,0.1),
				 0px 1px 1px rgba(0,0,0,0.1),
				 0px 6px 6px rgba(0,0,0,0.1);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

svg {
	
	margin: 0 10px 0 10px; 
}

div.scoreForm input {
	
	box-shadow: 0px 2px 1px rgba(0,100,0,0.1),
				0px 5px 10px rgba(0,0,0,0.1),
				0px 12px 12px rgba(0,100,0,0.1);
	
}

div#problemContainer {
	
	text-shadow: 0px 0px 0px rgba(50,50,50,0.1),
				 0px 3px 3px rgba(0,0,0,0.1),
				 0px 7px 7px rgba(0,0,0,0.1);
	
}

div#mathSymbolContainer {
	
	padding-left: 0px;
	margin: 0 auto; 
	
}

.scoreHr {
	width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(100, 100, 120, 0), rgba(100, 100, 120, 0.75), rgba(100, 100, 100, 0));
}

.cardContainer {
	
	border-style: solid;
    border-color: rgba(190, 190, 215, 1);
    border-width: 4px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 3px 5px rgba(110,110,135,1); 
	width: 40%; 
	
}

.credentialsform {
	width: 30%; 
	margin: 0 auto;
}

.credentialsheading {
	text-align: center; 
}

.scoreform {

}

h6.userScoreOutput {
	
	color: rgba(70, 70, 140, 0.8); 
	text-shadow: 0px 0px 0px rgba(50,50,50,0.1),
				 0px 1px 1px rgba(20,70,110,0.3),
				 0px 6px 6px rgba(20,70,110,0.3),
				 8px 13px 15px rgba(150,150,0,0.2);
	
}

#highscores {
	color: rgba(110, 110, 140, 0.8); 
}

#timer {
	font-size: 1.25em; 
	margin-top: 20px; 
	color: rgba(80,80,140,0.9); 
	text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 18px rgba(0,0,0,0.1);
}



