<%- include("../partials/header") %>

<h1>This is the games page</h1>

<ul class="temp navbar">
	<li><a href="/login">Login</a></li>
	<li><a href="/register">Sign Up</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>

<ul>
	<li><a href="/games/multiplication">Multiplication Game</a></li>
	<li><a href="/games/division">Division Game</a></li>
	<li><a href="/games/divisionremainders">Division Game with Remainders</a></li>
	<li><a href="/games/rounding">Rounding Game</a></li>
	<li><a href="/games/convertingunits">Converting Units Game</a></li>
	<li><a href="/games/wordform">Word Form Generator</a></li>
	<li><a href="/games/primecomposite">Prime or Composite Game</a></li>
	<li><a href="/games/primenumbergenerator">Prime Number Generator</a></li>
	<li><a href="/games/equivalentfractionmaker">Equivalent Fraction Maker</a></li>
	<li><a href="/games/simplifiedfractiongenerator">Simplified Fraction Generator</a></li>
	<li><a href="/games/preparelongdivision">Preparing for Long Division Game</a></li>
</ul>

<%- include("../partials/footer") %>