<%- include("../partials/header") %>

<h1>Games</h1>
<hr>

<ul>
	<li><a href="/games/addition">Addition Fact Game</a></li>
	<li><a href="/games/fractionaddition">Fraction Addition Game<span style="color:red;"> (New)</span></a></li>
	<li><a href="/games/subtraction">Subtraction Fact Game</a></li>
	<li><a href="/games/multiplicationrefactored">Multiplication Game</a></li>
	<li><a href="/games/multiplicationto20">Multiplication Game - Hard (to 20)</a></li>
	<li><a href="/games/multiplicationpowersoften">Multiplication Game (Powers of Ten)</a></li>
	<li><a href="/games/divisionrefactored">Division Game</a></li>
	<li><a href="/games/divisionremaindersrefactored">Division Game (Remainders)</a></li>
	<li><a href="/games/mixedoperations">Mixed Operations Game<span style="color:red;"> (New)</span></a></li>
	<li><a href="/games/divisionlongmental">Division Game (Long Mental)<span style="color:red;"> (New)</span></a></li>
	<li><a href="/games/roundingrefactored">Rounding Game</a></li>
	<li><a href="/games/convertingunitsmetric">Converting Units Game (Metric)</a></li>
	<li><a href="/games/convertingunitsrefactor">Converting Units Game (Non-Metric)</a></li>
	<li><a href="/games/preparelongdivisionrefactored">Preparing for Long Division Game</a></li>
	<li><a href="/games/primecompositerefactored">Prime or Composite Game</a></li>
</ul>

<h1>Other Tools</h1>
<hr>

<ul>
	<li><a href="/games/wordform">Word Form Generator (Retro)</a></li>
	<li><a href="/games/wordformtraditional">Word Form Generator (Traditional)</a></li>
	<li><a href="/games/primenumbergenerator">Prime Number Generator</a></li>
	<li><a href="/games/equivalentfractionmaker">Equivalent Fraction Maker</a></li>
	<li><a href="/games/simplifiedfractiongenerator">Simplified Fraction Generator</a></li>
</ul>

<%- include("../partials/footer") %>