<%- include("../partials/header") %>

<h1>Games</h1>
<hr>

<ul>
	<!--<li><a href="/games/multiplication">Multiplication Game(Original)</a></li>-->
	<li><a href="/games/addition">Addition Fact Game</a></li>
	<li><a href="/games/subtraction">Subtraction Fact Game</a></li>
	<li><a href="/games/multiplicationrefactored">Multiplication Game</a></li>
	<li><a href="/games/multiplicationpowersoften">Multiplication Game Powers of Ten</a></li>
	<!--<li><a href="/games/division">Division Game(Original)</a></li>-->
	<li><a href="/games/divisionrefactored">Division Game</a></li>
	<!--<li><a href="/games/divisionremainders">Division Game with Remainders(Original)</a></li>-->
	<li><a href="/games/divisionremaindersrefactored">Division Game with Remainders</a></li>
	<!--<li><a href="/games/rounding">Rounding Game(Original)</a></li>-->
	<li><a href="/games/roundingrefactored">Rounding Game</a></li>
	<!--<li><a href="/games/convertingunits">Converting Units Game(Original)</a></li>-->
	<li><a href="/games/convertingunitsrefactor">Converting Units Game</a></li>
	<!--<li><a href="/games/preparelongdivision">Preparing for Long Division Game(Original)</a></li>-->
	<li><a href="/games/preparelongdivisionrefactored">Preparing for Long Division Game</a></li>
	<!--<li><a href="/games/primecomposite">Prime or Composite Game(Original)</a></li>-->
	<li><a href="/games/primecompositerefactored">Prime or Composite Game</a></li>
	<li><a href="/games/wordform">Word Form Generator (Retro)</a></li>
	<li><a href="/games/wordformtraditional">Word Form Generator (Traditional)</a></li>
	<li><a href="/games/primenumbergenerator">Prime Number Generator</a></li>
	<li><a href="/games/equivalentfractionmaker">Equivalent Fraction Maker</a></li>
	<li><a href="/games/simplifiedfractiongenerator">Simplified Fraction Generator</a></li>
</ul>

<%- include("../partials/footer") %>