<html>
    
    <head>
        
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a18bce666e.js" crossorigin="anonymous"></script>
        
        <style>
            
            body {
                text-align: center;
                font-family: 'Varela Round', sans-serif;  
            }
            
            h1 {
                font-size: 3em;
                font-weight: 700;
                text-shadow: 0px 4px 3px rgba(0,0,0,0.1),
						 0px 8px 13px rgba(0,0,0,0.1),
						 0px 18px 18px rgba(0,0,0,0.1);
            }
            
            hr {
                border: 0;
                height: 1px;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            }
            
            .container {
                margin-top: 4%; 
            }
            
            .problemContainer {
                width: 200px;
                margin: auto auto;
                padding: 10px; 
                border-style: solid;
                border-radius: 10px;
                border-width: 3px;
                border-color: rgba(100, 100, 120, 0.7);
                background-color: white; 
                font-size: 2.5em;
            }
            
            .problem {
            
            }
            
            .correctAnswer {
                position: relative; 
                -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
                -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
                animation-name: correct;
                animation-duration: 2s;
            }
            
            .incorrectAnswer {
                position: relative; 
                -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
                -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
                animation-name: incorrect;
                animation-duration: 2s;
            }
            
            #score {
                font-size: 1.2em; 
            }
            
            #popup {
                font-size: 2.5em;
                color: rgba(255,255,255,1); 
            }
            
            @-webkit-keyframes correct {
                0%   {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top: 110px;}
          
                90% {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
                100% {color: rgba(80, 255, 150, 0.6); display: none; font-size: 1em; margin: auto; width: 200px;}
            }
          
            @keyframes correct {
              0%   {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:110px;}
      
              90% {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
              100% {color: rgba(80, 255, 150, 0.6); display: none; font-size: 1em; margin: auto; width: 200px;}
            }
            
            @-webkit-keyframes incorrect {
                0%   {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:110px;}
          
                90% {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
                100% {color:rgba(255,80,50,0.6); display: none; font-size: 1em; margin: auto; width: 200px;}
            }
          
            @keyframes incorrect {
              0%   {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:110px;}
      
              90% {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
              100% {color:rgba(255,80,50,0.6); display: none; font-size: 1em; margin: auto; width: 200px;}
            }
        
        </style>
    
    </head>
    
    <title>Hanson Multiplication Game</title>
    
    <body>
		
		<%- include("../partials/navbaronly") %>
        
        <div class="container">
        
            <h1>Hanson Multiplication Game</h1>
            <hr>
			
			<%- include ("../partials/highscores.ejs") %>
        
            <!--<input type='submit' value='START' class='startGame'>-->
            <button type="button" class="btn btn-primary startGame">START <i class="fas fa-play-circle"></i></button>
            <br>
            <!--<input type='submit' value='RESET' class='resetGame'>-->
            <button type="button" class="btn btn-primary resetGame">RESET <i class="fas fa-undo-alt"></i></button>
            <br>
            <br> 
          
            <div class='problemContainer problem' id='problem'>
                
            </div>
			
			<div class="container scoreform" id="submitscore"></div>
            
            <div class='answerContainer' id='answerContainer'>
                <br>
                <div id = 'popup'> </div>
                <br>
                <h2>Answer</h2>
                
                <input id='answer' class='answer' type='text' placeholder=''>
                
            </div>
            
            <br>
            
            <div class='scoreContainer'>
                
                <p id='score'>Current Score: </p>
            
                <h3>Problems to Practice:</h3>
                <p id='show answer'></p>
                
            </div>
            
        </div>
        
    </body>
	
	
    
    <script> 
        
        let finalScore = 0; 
        let problem = '';
        let answer = 0;
         
        //constants/element variables
        
        const startGameVar = document.querySelector('.startGame');
        const resetGameVar = document.querySelector('.resetGame');
        const continueVar = document.querySelector('.answer');
        const problemContainerVar = document.querySelector('.problemContainer');
        
        //game start conditions
        resetGameVar.disabled = true;
        resetGameVar.style.visibility = 'hidden'; 
        continueVar.disabled = true; //make ability to check answer disabled until start of game
        problemContainerVar.style.visibility = 'hidden'; 
        
        //events
        
        startGameVar.addEventListener('click',startGame);
        resetGameVar.addEventListener('click', resetGame);
        continueVar.addEventListener('keydown', function(event) {
            if(event.keyCode === 13 && startGameVar.disabled == true) {
                checkAnswer(); 
            }
            
        });
        
        //functions
        
        function startGame() {
            
            startGameVar.disabled = true;
            startGameVar.style.visibility = 'hidden';
            continueVar.disabled = false; //make it possible to check an answer
            problemContainerVar.style.visibility = 'visible';
            continueVar.focus();
            startGameVar.style.display = 'none';
            resetGameVar.style.display = 'none'; 
            
            setTimeout(function() {
                
                //end game conditions
				
                document.querySelector('body').style.backgroundColor = '#ffffff';
                alert('Time\'s Up!');
                continueVar.disabled = true;
                resetGameVar.disabled = false;
                resetGameVar.style.visibility = 'visible';
                startGameVar.style.display = 'initial';
                resetGameVar.style.display = 'initial'; 
                 
                document.getElementById('problem').innerHTML = 'Final Score: ' + finalScore;
                document.querySelector('.problem').style.color = 'green';
				
				//create new score 
				
			
				document.getElementById("submitscore").innerHTML += "<div class='row'><div><form class='form-signin' action='/games/submit' method='POST'><h1 class='h3 credentialsheading mb-3 font-weight-normal'>Submit Score</h1><div class='form-group'><label for='inputUsername' class='sr-only'>Username</label><input type='text' id='inputUsername' class='form-control' name='username' value='<%= currentUser.username %>' readonly></div><div class='form-group'><label for='inputGame' class='sr-only'>Game</label><input type='text' id='inputGame' class='form-control' name='game' value='Hanson Multiplication Game' readonly></div><div class='form-group'><label for='inputScore' class='sr-only'>Score</label><input type='number' id='inputScore' class='form-control' name='score' readonly></div><div class='form-group'><button class='btn btn-lg btn-primary btn-block' type='submit'>Submit Score</button></div></form></div></div>";

				document.getElementById("inputScore").value = finalScore; 
				//document.getElementById("inputUsername").value = currentUser.username; 
				
				//'<span><a href="/games/submit">Submit Final Score</a></span>'; 
				//document.getElementById("submitscore").innerHTML += scoreform; 
			}, 10000); //this won't work, needs to be in HTML
            
            createProblem(); //generate first problem
        }
        
        function resetGame() {
            
            finalScore = 0;
            
            resetGameVar.disabled = true;
            resetGameVar.style.visibility = 'hidden'; 
        
            continueVar.disabled = true;
            
            startGameVar.disabled = false;
            startGameVar.style.visibility = 'visible';
            
            document.getElementById('problem').innerHTML = '';
            document.querySelector('.problem').style.color = 'black';
            
            document.getElementById('show answer').innerHTML = '';
            document.getElementById('score').innerHTML = 'Current Score: ';
            
            problemContainerVar.style.visibility = 'hidden';
            
            continueVar.style.backgroundColor = 'rgba(255,255,255,1)';
            
        }
        
        
        function createProblem() {
            
            let factor1 = Math.floor(Math.random() * 13);
            let factor2 = Math.floor(Math.random() * 13);
            problem = factor1 + ' x ' + factor2; 
            answer = factor1 * factor2;
            
            document.getElementById('problem').innerHTML = problem; 
            
        }
        
        function checkAnswer() {
            
            let userInput = Number(continueVar.value);
            
            if(userInput === answer)
            {
                if(answer === 0 && continueVar.value === '')
                {
                    document.getElementById('popup').innerHTML = '<div class="incorrectAnswer"><i class="fas fa-thumbs-down"></i>' + ' -50' + '</div>';
                    continueVar.style.backgroundColor = 'rgba(255,80,50,0.10)'; 
                    finalScore -= 50;
                    document.getElementById('show answer').innerHTML += problem + ' = ' + answer + '<br>';
                }
                else
                {
                    document.getElementById('popup').innerHTML = '<div class="correctAnswer"><i class="fas fa-thumbs-up"></i>' + ' +' + answer + '</div>';
                    continueVar.style.backgroundColor = 'rgba(80,255,150,0.10)'; 
                    finalScore += answer;
                }
            }
            else
            {
                document.getElementById('popup').innerHTML = '<div class="incorrectAnswer"><i class="fas fa-thumbs-down"></i>' + ' -' + answer + '</div>';
                continueVar.style.backgroundColor = 'rgba(255,80,50,0.10)';
                finalScore -= answer;
                document.getElementById('show answer').innerHTML += problem + ' = ' + answer + '<br>';
            }
       
            document.getElementById('score').innerHTML = 'Current Score: ' + finalScore;
            
            continueVar.value = ''; 
            createProblem();
            
        }
        
    </script>
    
</html>