<html>
    
    <head>
		
		<%- include("../partials/bootstrap") %>
        
        <meta charset="utf-8">
		
		<%- include("../partials/sharedstyles") %>
        
        <style>
            
        </style>
    
    </head>
    
    <title>Hanson Division Game</title>
    
    <body>
		
		<%- include("../partials/navbaronly") %>
		
		<div class="container">
			
			<h1>Hanson Prime Numbers Generator</h1>
			<hr>

			<label for='input'>How many prime numbers do you want to generate?</label>
			<input id='input' class='input' type='number' placeholder=''>

			<button type="button" class="btn btn-primary primeNumbers">Generate Prime Numbers <i class="fas fa-play-circle"></i></button>
			<br>
			<br>

			<button type="button" class="btn btn-primary resetGame">RESET <i class="fas fa-undo-alt"></i></button>
			<br>
			<br>

			<p id='show primes'></p>
			
		</div>
        
    </body>
    
    <script>
        
        let inputVar = document.querySelector('.input');
        let primeNumbersVar = document.querySelector('.primeNumbers');
        let resetGameVar = document.querySelector('.resetGame');
        
        resetGameVar.addEventListener('click', resetFields);
        primeNumbersVar.addEventListener('click', generatePrimes);
        
        function resetFields() {
            
            inputVar.value = '';
            document.getElementById('show primes').innerHTML = ''; 
            
        }
        
        function generatePrimes() {
            
            let numberOfPrimes = parseInt(inputVar.value);
			
			if(numberOfPrimes < 1)
				{
					document.getElementById('show primes').innerHTML = 'Enter a whole number greater than 0.';
                	return 0; 
				}
            
            if(numberOfPrimes > 4999)
            {
                document.getElementById('show primes').innerHTML = 'Enter a whole number less than 5,000.';
                return 0; 
            }
            
            let primeList = [];
            let currentNumber = 2;
            let isPrime = true; 
            
            while(primeList.length <= numberOfPrimes - 1)
            {
                isPrime = true;
                
                for(let currentDivisor = currentNumber - 1; currentDivisor > 1; currentDivisor--)
                {
                    if(currentNumber % currentDivisor === 0)
                    {
                        isPrime = false; 
                    }
                }
                
                if(isPrime === true)
                {
                    primeList.push(currentNumber); 
                }
                
                currentNumber++; 
            }
            
            console.log(primeList);
            
            printPrimes(primeList); 
            
        }
        
        function printPrimes(primeList) {
            
            let primeString = ''; 
            
            for(let thisNumber = 0; thisNumber < primeList.length; thisNumber++)
            {
                if(thisNumber < primeList.length - 1)
                {
                    primeString += primeList[thisNumber] + ', '; 
                }
                else
                {
                    primeString += primeList[thisNumber] + '.'; 
                }
            }
            
            document.getElementById('show primes').innerHTML = 'The first ' + Number(inputVar.value) + ' prime numbers are: ' + primeString; 
            
        }
        
    </script>
    
</html>