<html>
    
    <head>
        
        <meta charset="utf-8">
		
		<%- include("../partials/sharedstyles") %>
        
        <style>
            .correctAnswer {
                position: relative; 
                -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
                -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
                animation-name: correct;
                animation-duration: 2s;
            }
            
            .incorrectAnswer {
                position: relative; 
                -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
                -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
                animation-name: incorrect;
                animation-duration: 2s;
            }
            
            #score {
                font-size: 1.2em; 
            }
            
            #popup {
                font-size: 2.5em;
                color: rgba(255,255,255,1);
            }
            
            @-webkit-keyframes correct {
                0%   {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top: -100px;}
          
                90% {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
                100% {color: rgba(80, 255, 150, 0.6); display: none; font-size: 1em; margin: auto; width: 200px;}
            }
          
            @keyframes correct {
              0%   {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:-100px;}
      
              90% {color:rgba(80,255,150,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
              100% {color: rgba(80, 255, 150, 0.6); display: none; font-size: 1em; margin: auto; width: 200px;}
            }
            
            @-webkit-keyframes incorrect {
                0%   {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:-90px;}
          
                90% {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
                100% {color:rgba(255,80,50,0.6); display: none; font-size: 1em; margin: auto; width: 200px;}
            }
          
            @keyframes incorrect {
              0%   {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:-90px;}
      
              90% {color:rgba(255,80,50,0.6); font-size: 1em; width: 200px; margin: auto; left:0px; top:0px;}
                
              100% {color:rgba(255,80,50,0.6); display: none; font-size: 1em; margin: auto; width: 200px;}
            }
        </style>
    
    </head>
    
    <title>Hanson Prime/Composite Numbers Game</title>
    
    <body>
		
		<%- include("../partials/navbaronly") %>
		
		<div class="container">
			
			<h1>Hanson Prime/Composite Numbers Game</h1>
			<hr>
			
			<%- include ("../partials/highscores.ejs") %>

			<div id='problem' class='problem'></div>

			<!--<input type='submit' value='START - EASY' class='startEasy' onclick="makeEasy();">-->
			<button type="button" class="btn btn-success startEasy" onclick="makeEasy();">START - EASY <i class="fas fa-play-circle"></i></button>
			<!--<input type='submit' value='START - MEDIUM' class='startGame'>-->
			<button type="button" class="btn btn-warning startGame">START - MEDIUM <i class="fas fa-play-circle"></i></button>
			<!--<input type='submit' value='START - HARD' class='startHard' onclick="makeHard();">-->
			<button type="button" class="btn btn-danger startHard" onclick="makeHard();">START - HARD <i class="fas fa-play-circle"></i></button>
			<br>
			<!--<input type='submit' value='RESET' class='resetGame'>-->
			<button type="button" class="btn btn-primary resetGame">RESET <i class="fas fa-undo-alt"></i></button>
			<br>
			<button type="button" class="btn btn-primary primeNumber">PRIME</button>
			<br>
			<br>
			<button type="button" class="btn btn-primary compositeNumber">COMPOSITE</button>
			<br>
			<br>

			<p id='score'>Current Score: </p>
			
			<div id = 'popup'> </div>
			
			<div class="container scoreform" id="submitscore">
				<div class='row justify-content-center'>
					<div class="col-xsm-4">
						<form class='form-signin' action='/games/submit' method='POST'>
							<h1 class='h3 credentialsheading mb-3 font-weight-normal'>Submit Score</h1>
							<div class='form-group'>
								<label for='inputUsername' class='sr-only'>Username</label>
								<input type='text' id='inputUsername' class='form-control' name='username' value=<%= currentUser.username %> readonly>
							</div>
							<div class='form-group'>
								<label for='inputGame' class='sr-only'>Game</label>
								<input type='text' id='inputGame' class='form-control' name='game' value='Hanson Prime/Composite Numbers Game' readonly>
							</div>
							<div class='form-group'>
								<label for='inputScore' class='sr-only'>Score</label>
								<input type='number' id='inputScore' class='form-control' name='score' readonly>
							</div>
							<div class='form-group'>
								<button class='btn btn-lg btn-primary btn-block' type='submit'>Submit Score</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<h2>Prime Numbers:</h2>
			<p id='show prime'></p>

			<h2>Composite Numbers:</h2>
			<p id='show composite'></p>
			
		</div>
        
    </body>
    
    <script>
        
        let finalScore = 0;
        let numberCorrect = 0;
        let numberIncorrect = 0; 
        let problem = '';
        let isPrime = true;
        let isEasy = false;
        let isHard = false; 
        
        //constants/element variables
        
        const startGameVar = document.querySelector('.startGame');
        const startGameEasyVar = document.querySelector('.startEasy');
        const startGameHardVar = document.querySelector('.startHard');
        const resetGameVar = document.querySelector('.resetGame');
        const primeNumber = document.querySelector('.primeNumber');
        const compositeNumber = document.querySelector('.compositeNumber');
        
        //game start conditions
        resetGameVar.disabled = true;
        resetGameVar.style.display = 'none';
        primeNumber.disabled = true;
        primeNumber.style.display = 'none';
        compositeNumber.disabled = true;
        compositeNumber.style.display = 'none';
		document.getElementById("submitscore").style.display = "none"; 
        
        //events
        
        startGameVar.addEventListener('click',startGame);
        startGameEasyVar.addEventListener('click',startGame);
        startGameHardVar.addEventListener('click',startGame);
        resetGameVar.addEventListener('click', resetGame);
        primeNumber.addEventListener('click', checkPrime);
        compositeNumber.addEventListener('click', checkComposite); 
        
        //functions
        
        function startGame() {
			
            startGameVar.disabled = true;
            startGameVar.style.display = 'none';
            startGameEasyVar.disabled = true;
            startGameEasyVar.style.display = 'none';
            startGameHardVar.disabled = true;
            startGameHardVar.style.display = 'none';
            primeNumber.disabled = false;
            primeNumber.style.display = 'initial';
            compositeNumber.disabled = false;
            compositeNumber.style.display = 'initial'; 
            
            setTimeout(timeout, 6000);
			
            createProblem(); //generate first problem
			
        }
		
		function timeout() {
			
			//end game conditions
            document.querySelector('body').style.backgroundColor = '#ffffff';
            alert('Time\s Up!');
            resetGameVar.disabled = false;
            resetGameVar.style.display = 'initial';
            primeNumber.disabled = true;
            primeNumber.style.display = 'none';
            compositeNumber.disabled = true;
            compositeNumber.style.display = 'none'; 
				
			document.getElementById("submitscore").style.display = "block"; 
			document.getElementById("inputScore").value = finalScore; 	
                
            document.getElementById('problem').innerHTML = 'Final Score: ' + finalScore +
            '<br>' + 'Number Correct: ' + numberCorrect + '<br>' + '<span style="color:red">' +
            'Number Incorrect: ' + numberIncorrect + '</span>' + '<br>' + 'Rate Correct: ' +
            (Math.round(numberCorrect / (numberCorrect + numberIncorrect) * 100)) + '%';
			
            document.querySelector('.problem').style.color = 'green';
			
		}
        
        function resetGame() {
            finalScore = 0;
            numberCorrect = 0;
            numberIncorrect = 0; 
            let randomNumber = 0;
            
            isEasy = false;
            isHard = false; 
            
            resetGameVar.disabled = true;
            resetGameVar.style.display = 'none';
            
            primeNumber.disabled = true;
            primeNumber.style.display = 'none';
            
            compositeNumber.disabled = true;
            compositeNumber.style.display = 'none';
            
            startGameVar.disabled = false;
            startGameVar.style.display = 'initial';
            
            startGameEasyVar.disabled = false;
            startGameEasyVar.style.display = 'initial';
            
            startGameHardVar.disabled = false;
            startGameHardVar.style.display = 'initial';
            
            document.getElementById('problem').innerHTML = '';
            document.querySelector('.problem').style.color = 'black';
            
            document.getElementById('show prime').innerHTML = '';
            document.getElementById('show composite').innerHTML = '';
            
            document.getElementById('score').innerHTML = 'Current Score: ';
			
			document.getElementById("submitscore").style.display = "none"; 
        }
        
        function createProblem() {
             
            if(isEasy === true)
            {
                randomNumber = Math.floor(Math.random() * 19 + 2);
            }
            else if(isHard === true)
            {
                randomNumber = Math.floor(Math.random() * 98 + 2);
            }
            else
            {
                randomNumber = Math.floor(Math.random() * 49 + 2);
            }
            
            isPrime = true; 
            
            for (let currentNumber = 2; currentNumber <= randomNumber - 1; currentNumber++)
            {
                if (randomNumber % currentNumber === 0)
                {
                    isPrime = false;
                    break; 
                }
            }
            
            document.getElementById('problem').innerHTML = randomNumber;
            
            console.log(isPrime); 
        }
        
        function checkPrime() {
            
            if(isPrime === true)
            {
                //document.querySelector('body').style.backgroundColor = '#ccffcc';
				document.getElementById('popup').innerHTML = '<div class="correctAnswer"><i class="fas fa-thumbs-up"></i>' + '</div>';
                finalScore += randomNumber;
                numberCorrect++; 
                document.getElementById('show prime').innerHTML += randomNumber + '<br>';
            }
            else
            {
                //document.querySelector('body').style.backgroundColor = '#ffebe6';
				document.getElementById('popup').innerHTML = '<div class="incorrectAnswer"><i class="fas fa-thumbs-down"></i>' + '</div>';
                finalScore -= randomNumber * 5;
                numberIncorrect++; 
                document.getElementById('show composite').innerHTML += randomNumber + '<br>';
            }
            
            document.getElementById('score').innerHTML = 'Current Score: ' + finalScore;
            
            createProblem(); 
        }
        
        function checkComposite() {
            
            if(isPrime === false)
            {
                //document.querySelector('body').style.backgroundColor = '#ccffcc';
				document.getElementById('popup').innerHTML = '<div class="correctAnswer"><i class="fas fa-thumbs-up"></i>' + '</div>';
                finalScore += randomNumber;
                numberCorrect++; 
                document.getElementById('show composite').innerHTML += randomNumber + '<br>';
            }
            else
            {
                //document.querySelector('body').style.backgroundColor = '#ffebe6';
				document.getElementById('popup').innerHTML = '<div class="incorrectAnswer"><i class="fas fa-thumbs-down"></i>' + '</div>';
                finalScore -= randomNumber * 5;
                numberIncorrect++; 
                document.getElementById('show prime').innerHTML += randomNumber + '<br>';
            }
            
            document.getElementById('score').innerHTML = 'Current Score: ' + finalScore;
            
            createProblem(); 
        }
        
        function makeEasy() {
            
            isEasy = true; 
            
        }
        
        function makeHard() {
            
            isHard = true;
            
        }
        
    </script>
    
</html>