<html>
    
    <head>
		
		<%- include("../partials/bootstrap") %>
        
        <meta charset="utf-8">
		
		<%- include("../partials/sharedstyles") %>
        
        <style>
            
        </style>
    
    </head>
    
    <title>Hanson Simpifed/Reduced Fraction Generator</title>
    
    <body>
		
		<%- include("../partials/navbaronly") %>
        
        <h1>Hanson Simplified/Reduced Fraction Generator</h1>
		<hr>
		
		<div class="container">
			
			<label for='numerator'>Numerator:</label>
			<input id='numerator' type='number' placeholder=''>
			<br>
			<label for='denominator'>Denominator:</label>
			<input id='denominator' type='number' placeholder=''>
			<br>
			<br>

			<button type="button" class="btn btn-primary" id="getFractions">Generate Simplified Fractions <i class="fas fa-play-circle"></i></button>
			<br>
			<br>
			<button type="button" class="btn btn-primary" id="reset">RESET <i class="fas fa-undo-alt"></i></button>
			<br>
			<p id='error'></p>

			<p id='factors'>Common Factors: </p>

			<p id='gcf'>Greatest Common Factor: </p>

			<p id='simplifiedFractions'>Simplified Fractions: </p>
			
		</div>
        
    </body>
    
    <script>
        
        let factors = []; 
        let gcf = 1;
        let simplifiedFractions = []; 
        let numerator = 0;
        let denominator = 0; 
    
        //constants/element variables
        
        const numeratorVar = document.querySelector('#numerator');
        const denominatorVar = document.querySelector('#denominator'); 
        const getFractionsVar = document.querySelector('#getFractions');
        const resetVar = document.querySelector('#reset'); 
		const simplifiedFractionsVar = document.querySelector("#simplifiedFractions"); 
		const factorsVar = document.querySelector("#factors"); 
		const gcfVar = document.querySelector("#gcf"); 
		const errorVar = document.querySelector("#error"); 
        
        //events
        
        getFractionsVar.addEventListener('click',generateFactors);
        resetVar.addEventListener('click',resetFields);
        
        //functions
        
        function generateFactors() {
            
            factors = []; 
            gcf = 1;
            simplifiedFractions = [];
            
            factorsVar.innerHTML = '<strong>' + 'Common Factors: ' + '</strong>'; 
            gcfVar.innerHTML = '<strong>' + 'Greatest Common Factor: ' + '</strong>';
            simplifiedFractionsVar.innerHTML = '<strong>' + 'Simplified Fractions:' + '</strong>';
            errorVar.innerHTML = '';
            
            numerator = numeratorVar.value;
            denominator = denominatorVar.value;
            
            if(numerator > 99999999 || denominator > 99999999)
            {
                errorVar.innerHTML = 'Enter whole number values less than 100,000,000 (One Hundred Million)';
                return 0; 
            }
            
            if(numerator < 1 || denominator < 1)
            {
                errorVar.innerHTML = 'Enter whole number values greater than 0.';
                return 0; 
            }
            
            if(numerator.includes('.') || denominator.includes('.'))
            {
                errorVar.innerHTML = 'Enter whole number values greater than 0.';
                return 0; 
            }
            
            if(Number(numerator) > Number(denominator))
            {
                let tempContainer = numerator;
                numerator = denominator;
                denominator = tempContainer; 
            }
            
            for(let thisNumber = numerator; thisNumber > 0; thisNumber--)
            {
                if(numerator % thisNumber === 0 && denominator % thisNumber === 0)
                {
                    factors.push(thisNumber);
                }
            }
            
            gcf = factors[0]; 
            printFactors(factors);
            generateFractions(factors);
            printFractions(simplifiedFractions);
            
        }
        
        function printFactors(factors) {
            
            let factorString = '';
            
            for(let thisFactor = 0; thisFactor < factors.length; thisFactor++)
            {
                if(factors[thisFactor] === factors[factors.length - 1])
                {
                    factorString += factors[thisFactor] + ''; 
                }
                else
                {
                    factorString += factors[thisFactor] + ', ';
                }
            }
            
            factorsVar.innerHTML = '<strong>' + 'Common Factors: ' + '</strong>' + factorString; 
            gcfVar.innerHTML = '<strong>' + 'Greatest Common Factor: ' + '</strong>' + gcf;
        }
        
        function generateFractions(factors) {
            
            numerator = Number(numeratorVar.value);
            denominator = Number(denominatorVar.value);
            
            for(let thisFactor = 0; thisFactor < factors.length; thisFactor++)
            {
                let thisNumerator = numerator / factors[thisFactor];
                let thisDenominator = denominator / factors[thisFactor];
                
                let thisFraction = thisNumerator + '&frasl;' + thisDenominator;
                simplifiedFractions.push(thisFraction); 
            }
            
        }
        
        function printFractions(fractions) {
            
            let fractionString = '';
            
            for(let thisFraction = 0; thisFraction < simplifiedFractions.length; thisFraction++)
            {
                fractionString += numerator + '&frasl;' + denominator + ' = ' + fractions[thisFraction] + '<br>';
            }
            
            simplifiedFractionsVar.innerHTML = '<strong>' + 'Simplified Fractions:' + '</strong>' + '<br>' + fractionString;
            
        }
        
        
        function resetFields() {
            
            numeratorVar.value = '';
            denominatorVar.value = '';
            
            factorsVar.innerHTML = '<strong>' + 'Common Factors: ' + '</strong>'; 
            gcfVar.innerHTML = '<strong>' + 'Greatest Common Factor: ' + '</strong>';
            simplifiedFractionsVar.innerHTML = '<strong>' + 'Simplified Fractions:' + '</strong>';
            errorVar.innerHTML = '';
            
            factors = []; 
            gcf = 1;
            simplifiedFractions = []; 
            numerator = 0;
            denominator = 0;
             
        }
            
        
    </script>
    
</html>